# Basic elements of Python

## Sources

This lesson is inspired by the [Programming in Python lessons](http://swcarpentry.github.io/python-novice-inflammation/) from the [Software Carpentry organization](http://software-carpentry.org) and has adapted or reused material from University of Helsinki Geo-python course (https://geo-python-site.readthedocs.io/en/latest/course-info/licensing.html ) under a Creative Commons Attribution-ShareAlike 4.0 International licence.

## Lists and indices

We saw a bit about variables and their values in the lesson last week, and we continue today with some variables related to Bus stops in Karlstad, Sweden. Rather than having individual variables for each of those stations as we have previously, we can store many related values in a *collection*. The simplest type of collection in Python is a `list`.

### Creating a list

Let’s first create a list of selected `station_name` values and print it to the screen.

In [1]:
station_names = [
    "Karlstad Drottninggatan",
    "Karlstad Karolinen",
    "Karlstad Ronndungen",
    "Karlstad Kronoparkskyrkan",
    "Karlstad Universitetet"
]

In [2]:
print(station_names)

['Karlstad Drottninggatan', 'Karlstad Karolinen', 'Karlstad Ronndungen', 'Karlstad Kronoparkskyrkan', 'Karlstad Universitetet']

We can also check the type of the `station_names` list using the `type()` function.

In [3]:
type(station_names)

list

Here we have a list of 5 `station_name` values in a list called `station_names`. As you can see, the `type()` function recognizes this as a list. Lists can be created using the square brackets `[` and `]`, with commas separating the values in the list.

### Index values

We can manipulate and process one of the items of the list with an `index` value. An index value is a number that refers to a given position in the list, Let’s check out the first value in our list as an example by printing out `station_names[1]`:

In [4]:
print(station_names[1])

Karlstad Karolinen

Wait, what? This is the second value in the list we’ve created, what is wrong? As it turns out, Python (and many other programming languages) start values stored in collections with the index value `0`. Thus, to get the value for the first item in the list, we must use index `0`. Let's print out the value at index `0` of `station_names` below.

In [5]:
print(station_names[0])

Karlstad Drottninggatan

OK, that makes sense, but it may take some getting used to...

### Number of items in a list

We can find the length of a list using the `len()` function. Use it below to check the length of the `station_names` list.

In [6]:
len(station_names)

5

Just as expected, there are 5 values in our list and `len(station_names)` returns a value of `5`.

### Index value tips

If we know the length of the list, we can now use it to find the value of the last item in the list, right? What happens if you print the value from the `station_names` list at index `4`, the value of the length of the list?

In [7]:
print(station_names[5])

IndexError: ignored

An `IndexError`? That’s right, since our list starts with index `0` and has 4 values, the index of the last item in the list is `len(station_names) - 1`. That isn’t ideal, but fortunately there’s a nice trick in Python to find the last item in a list. Let's first print the `station_names` list to remind us of the values that are in it.

In [8]:
print(station_names)

['Karlstad Drottninggatan', 'Karlstad Karolinen', 'Karlstad Ronndungen', 'Karlstad Kronoparkskyrkan', 'Karlstad Universitetet']

To find the value at the end of the list, we can print the value at index `-1`. To go further up the list in reverse, we can simply use larger negative numbers, such as index `-5`. Let's print out the values at these indices below.

In [9]:
print(station_names[-1])

Karlstad Universitetet

In [10]:
print(station_names[-5])

Karlstad Drottninggatan

Yes, in Python you can go backwards through lists by using negative index values. Index `-1` gives the last value in the list and index `-len(station_names)` would give the first. Of course, you still need to keep the index values within their ranges. What happens if you check the value at index `-6`?

In [11]:
print(station_names[-6])

IndexError: ignored

### Modifying list values

Another nice feature of lists is that they are *mutable*, meaning that the values in a list that has been defined can be modified. Consider a list of the observation station types corresponding to the station names in the `station_names` list.

In [12]:
station_types = [
    "Bus",
    "Bus",
    "Bus",
    "Bus",
    "Bus"
]
print(station_types)

['Bus', 'Bus', 'Bus', 'Bus', 'Bus']

Let's change the value for `station_types[2]` to be `'Mareographs'` and print out the `station_types` list again.

In [13]:
station_types[2] = "Train"
print(station_types)

['Bus', 'Bus', 'Train', 'Bus', 'Bus']

### Data types in lists

Lists can also store more than one type of data. Let’s consider that in addition to having a list of each station name, type, latitude, etc. we would like to have a list of all of the values for station ‘Karlstad Universitetet’. Before we create this list we need to define a few values related to the Karlstad Universitetet station.

In [14]:
station_name = "Karlstad Universitetet"

In [15]:
station_id = 123456

In [16]:
station_lat = 44.56

In [17]:
station_lon = 10.54

In [18]:
station_type = "Bus"

Now that we have defined some of the Karlstad Universitetet variables we can create the Karlstad Universitetet list.

In [19]:
station_karl_uni = [station_name, station_id, station_lat, station_lon, station_type]
print(station_karl_uni)

['Karlstad Universitetet', 123456, 44.56, 10.54, 'Bus']

Here we have one list with 3 different types of data in it. We can confirm this using the `type()` function. Let's check the type of `station_karl_uni`, then the types of the values at indices `0-2` in the cells below.

In [20]:
type(station_karl_uni)

list

In [21]:
type(station_karl_uni[0])  # The station name

str

In [22]:
type(station_karl_uni[1])  # The ID

int

In [23]:
type(station_karl_uni[2])  # The station latitude

float

### Adding and removing values from lists

Finally, we can add and remove values from lists to change their lengths. Let’s consider that we no longer want to include the first value in the `station_names` list. Since we haven't see that list in a bit, let's first print it to the screen.

In [24]:
print(station_names)

['Karlstad Drottninggatan', 'Karlstad Karolinen', 'Karlstad Ronndungen', 'Karlstad Kronoparkskyrkan', 'Karlstad Universitetet']

`del` allows values in lists to be removed. It can also be used to delete values from memory in Python. To remove the first value from the `station_names` list, we can simply type `del station_names[0]`. If you then print out the `station_names` list, you should see the first value has been removed.

In [25]:
del station_names[0]

In [26]:
print(station_names)

['Karlstad Karolinen', 'Karlstad Ronndungen', 'Karlstad Kronoparkskyrkan', 'Karlstad Universitetet']

If we would instead like to add a few samples to the `station_names` list, we can type `station_names.append('List item to add')`, where `'List item to add'` would be the text that would be added to the list in this example. Let's add two (imaginary) values to our list in the cells below: `'Karlstad Lake Station'` and `'Karlstad Central Park'`. After doing this, let's check the list contents by printing to the screen.

In [27]:
station_names.append("Karlstad Lake Station")
station_names.append("Karlstad Central Park")

In [28]:
print(station_names)

['Karlstad Karolinen', 'Karlstad Ronndungen', 'Karlstad Kronoparkskyrkan', 'Karlstad Universitetet', 'Karlstad Lake Station', 'Karlstad Central Park']

As you can see, we add values one at a time using `station_names.append()`. `list.append()` is called a method in Python, which is a function that works for a given data type (a list in this case). We’ll see some other examples of useful list methods below.

### Appending to an integer? Not so fast...

Let’s consider our list `station_names`. As we know, we already have data in the list `station_names`, and we can modify that data using built-in methods such as `station_names.append()`. In this case, the method `append()` is something that exists for lists, but not for other data types. It is intuitive that you might like to add (or append) things to a list, but perhaps it does not make sense to append to other data types. Below, let's create a variable `station_name_length` that we can use to store the length of the list `station_names`. We can then print the value of `station_name_length` to confirm the length is correct.

In [29]:
station_name_length = len(station_names)

In [30]:
print(station_name_length)

6

If we check the data type of `station_name_length`, we can see it is an integer value, as expected (do that below). What happens if you try to append the value `1` to `station_name_length`?

In [31]:
type(station_name_length)

int

In [32]:
station_name_length.append(1)

AttributeError: ignored

Here we get an `AttributeError` because there is no method built in to the `int` data type to append to `int` data. While `append()` makes sense for `list` data, it is not sensible for `int` data, which is the reason no such method exists for `int` data.

### Some other useful list methods

With lists we can do a number of useful things, such as count the number of times a value occurs in a list or where it occurs. The `list.count()` method can be used to find the number of instances of an item in a list. For instance, we can check to see how many times `'Karlstad Kronoparkskyrkan'` occurs in our list `station_names` by typing `station_names.count('Karlstad Kronoparkskyrkan')`.

In [33]:
# The count method counts the number of occurences of a value
station_names.count("Karlstad Kronoparkskyrkan")

1

Similarly, we can use the `list.index()` method to find the index value of a given item in a list. Let's use the cell below to find the index of `Karlstad Kronoparkskyrkan'` in the `station_names` list.

In [34]:
# The index method gives the index value of an item in a list
station_names.index("Karlstad Kronoparkskyrkan")

2

The good news here is that our selected station name is only in the list once. Should we need to modify it for some reason, we also now know where it is in the list (index `2`).

There are two other common methods for lists that we need to see.

### Reversing a list

First, there is the `list.reverse()` method, used to reverse the order of items in a list. Let's reverse our `station_names` list below and then print the results.

In [35]:
station_names.reverse()

In [36]:
print(station_names)

['Karlstad Central Park', 'Karlstad Lake Station', 'Karlstad Universitetet', 'Karlstad Kronoparkskyrkan', 'Karlstad Ronndungen', 'Karlstad Karolinen']

Yay, it works!

```{caution}
A common mistake when reversing lists is to do something like `station_names = station_names.reverse()`. **Do not do this!** When reversing lists with `.reverse()` the `None` value is returned (this is why there is no screen ouput when running `station_names.reverse()`). If you then assign the output of `station_names.reverse()` to `station_names` you will reverse the list, but then overwrite its contents with the returned value `None`. This means you’ve deleted the contents of your list (!).
```

### Sorting a list

The `list.sort()` method works the same way. Let's sort our `station_names` list and print its contents below.

In [37]:
station_names.sort()  # Notice no output here...

In [38]:
print(station_names)

['Karlstad Central Park', 'Karlstad Karolinen', 'Karlstad Kronoparkskyrkan', 'Karlstad Lake Station', 'Karlstad Ronndungen', 'Karlstad Universitetet']

As you can see, the list has been sorted alphabetically using the `list.sort()` method, but there is no screen output when this occurs. Again, if you were to assign that output to `station_names` the list would get sorted, but the contents would then be assigned `None`.

```{note}
 Alphabetical sorting in Python places capital letters before lowercase letters.
```

## Making different data types work together

In the previous lesson we learned how to determine a variable's {term}`data type` and also saw some examples of which data types are compatible with one another. We will continue that theme here and learn how to enable data of different types to work together.

### Reminder: Data types and their compatibility

We can explore the different types of data stored in variables using the `type()` function.
Let's use the cells below to check the data types of the variables `station_name`, `station_id`, and `station_lat`.

In [39]:
type(station_name)

str

In [40]:
type(station_id)

int

In [41]:
type(station_lat)

float

As expected, we see that the `station_name` is a character string, the `station_id` is an integer, and the `station_lat` is a floating point number.

```{hint}
Remember, the data types are important because some are not compatible with one another.
```

What happens when you try to add the variables `station_name` and `station_id` in the cell below?

In [42]:
station_name + station_id

TypeError: ignored

Here we get a `TypeError` because Python does not know to combine a string of characters (`station_name`) with an integer value (`station_id`).

### Converting data from one type to another

It is not the case that things like the `station_name` and `station_id` cannot be combined at all, but in order to combine a character string with a number we need to perform a *data type conversion* to make them compatible. Let's convert `station_id` to a character string using the `str()` function. We can store the converted variable as `station_id_str`.

In [43]:
station_id_str = str(station_id)

We can confirm the type has changed by checking the type of `station_id_str`, or by checking the output when you type the name of the variable into a cell and run it.

In [44]:
type(station_id_str)

str

In [45]:
station_id_str

'123456'

Notice the number is now enclosed in quotation marks. As you can see, `str()` converts a numerical value into a character string with the same numbers as before.

```{note}
Similar to using `str()` to convert numbers to character strings, `int()` can be used to convert strings or floating point numbers to integers and `float()` can be used to convert strings or integers to floating point numbers.
```

### Combining text and numbers

Although most mathematical operations operate on numerical values, a common way to combine character strings is using the addition operator `+`. Let's create a text string in the variable `station_name_and_id` that is the combination of the `station_name` and `station_id` variables. Once we define `station_name_and_id`, we can print it to the screen to see the result.

In [46]:
station_name_and_id = station_name + ": " + str(station_id)

In [47]:
print(station_name_and_id)

Karlstad Universitetet: 123456

Note that here we are converting `station_id` to a character string using the `str()` function within the assignment to the variable `station_name_and_id`. Alternatively, we could have simply added `station_name` and `station_id_str`.

## Working with text (and numbers)

The previous example demonstrated how it is possible to combine character strings and numbers (converted to character strings) together using the `+` operator. Although this approach works, it can become quite laborous and error-prone when working with more complicated sets of textual and/or numerical components. In addition, it is sometimes desirable to format the numerical output to change the number of decimal places for floating point values, for example. Hence, next we show a few useful techniques that make manipulating strings easier and more efficient.

There are three approaches that can be used to manipulate strings in Python:

1. f-strings
2. the `.format()` method
3. using the `%` operator

The f-string approach is recommended and the most modern, introduced in Python 3.6. However, since you are likely to find examples of the older approaches we also show how they work.

### f-String formatting

Here, we show how we can combine the `station_name` text, `station_id` integer number and another floating point number `temp` using Python's f-string formatting approach. In addition, we will simultaneously round the floating point number (`temp`) to two decimal places.

In [48]:
# Temperature with many decimals
temp = 18.56789876

In [49]:
# 1. The f-string approach (recommended)
info_text = f"The temperature at {station_name} station (ID: {station_id}) is {temp:.2f} Celsius."

In [50]:
print(info_text)

The temperature at Karlstad Universitetet station (ID: 123456) is 18.57 Celsius.

So, here we have managed to combined three different data types and format the floating point value in a single line. Let's break the f-string down a bit to understand how it works.

The key components here are:

- The text that you want to create and/or modify is enclosed within the quotes preceded with letter `f`.
- You can include any existing variable in the text template by placing the name of the variable inside a set of curly braces `{}`.
    - Using string formatting, it is also possible to insert numbers (such as `station_id` and `temp`) into the body of text without needing first to convert the data type to a string. This is because the f-string functionality does the data type conversion for us.
- It is possible to round numbers on the fly to a specific precision, such as two decimal points as in our example by adding format specifier (`:.2f`) after the variable that we want to format.
    - The format specifier works by first adding a colon (`:`) after the variable name
    - The decimal precision can be specified by adding a dot (`.`) followed by a number that indicates the number of decimal places (two in our case)
    - The final character `f` in the format specifier defines the type of the conversion that will be conducted
        - `f` will convert the value to decimal number
        - `e` will make the number appear in scientific notation
        - `%` will convert the value to a percentage

Of the above, the most important thing is to remember to include the `f` at the start of your f-strings :).

### Other approaches for string formatting (not recommended)

As mentioned above, there are other approaches that can be used to format text and combine different data types. The first one is the `.format()` method. For example:

In [51]:
# 2. .format() approach (not recommended anymore)
info_text2 = "The temperature at {0} station (ID: {1}) is {2:.2f} Celsius.".format(
    station_name, station_id, temp
)
print(info_text2)

The temperature at Karlstad Universitetet station (ID: 123456) is 18.57 Celsius.

As you can see, here we get the same result as with f-strings using the `.format()` method, which is placed after the quotes. Placeholders are inserted inside curly braces where the numbers refer to the order of the variables listed in the `.format()` function. There are other ways to use this same approach, but the example above is typical.

The last (historical) string formatting approach is to use the `%` operator. In this approach, the placeholder `%` is added within the quotes, and the variables that are inserted into the body of text are placed inside parentheses after another `%` operator, like this:

In [52]:
# 3. %-operator approach (not recommended anymore)
info_text3 = "The temperature at %s station (ID: %s) is %.2f Celsius." % (
    station_name,
    station_id,
    temp,
)
print(info_text3)

The temperature at Karlstad Universitetet station (ID: 123456) is 18.57 Celsius.

The order of the variables within the parentheses specify which `%` placeholder will receive what information and the number of variables should be exactly the same as the number of `%` placeholders within the text template.

### More information about formatting text and numbers

Of course, there is much more that can be done to format and interact with character strings and numbers. For more information, please have a look at the sites linked below.

- [Common string manipulation techniques from *Introduction to Python for Geographic Data Analysis*](https://python-gis-book.readthedocs.io/en/develop/part1/chapter-02/nb/00-python-basics.html#common-string-manipulation-techniques)
- [Python documentation: PEP 498 - Literal string interpolation](https://www.python.org/dev/peps/pep-0498/)